connection.json
.DS_Store
.venv*
*.token
config.json
config-*.json
snowflake.local.yml
output/**
log.*
*.log
*credentials*.json
*.pyc
build/*
package/*
.logs/*
instruments-def.json
metrics/*
*.zip
!config-basic.json
LICENSE.md
*-deploy-script*
*.pdf
test/conf/config-download.json
dynatrace-snowflake-observability-agent